.main{
    margin: 50px;
}
input{
    margin-bottom: 30px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px silver solid;  
    padding: 5px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
   
}
img{
    width: 20px;
}
span{
    width: 150px;
    text-align: center;
    color: black;
}
.green{
    color: green;
}
.red{
    color: red;
}
.symbol{
    font-weight: 600;
}