.container{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
form{
    width: 300px;
    
}
.checkbox{
    font-weight: bold;
    height: 70px;
   display: flex;
   align-items: center;
  
  
}
.checkbox span{
    margin-left: 20px;
    margin-top: 8px;
}
.checkbox input{
    width: 20px;
 
}
.item{
    margin-bottom: 30px;
    height: 70px;
}
.item label{
    font-weight: bold;

}
.item input{
    margin: 0;
    margin-top: 10px;
}
.buttons{
    display: flex;
    margin-top: 15px;
}